
#chessboard {
  width: min(80vh, 80vw);
  height: min(80vh, 80vw);
  background-color: #7d694c;
  /*margin-left: auto;*/
  margin-right: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

#chessboard > div {
  /*border: 1px solid gray;*/
}

.new-piece-board {
  position: absolute;
  display: none;
}

.new-piece {
  width: min(9vh, 9vw);
  height: min(9vh, 9vw);
  position: relative;
  float: left;
  border: 1px solid #5c5c5c;
  background-color: #dbdbdb;
}

.new-piece:hover {
  cursor: grab;
  background-color: cyan; 
}

#promotionWhite {
  display: none;
}

#promotionBlack {
  display: none;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.square.grid-pattern-1:nth-child(odd) {
  background-color: #eeedd3; /* cream */
  /*background-color: #b5915f;*/ /* beige */
}

.square.grid-pattern-1:nth-child(even) {
  background-color: #779558; /* green */
  /*background-color: #441a03;*/ /* brown */
}

.square.grid-pattern-2:nth-child(odd) {
  background-color: #779558; /* green */
  /*background-color: #441a03;*/ /* brown */
}

.square.grid-pattern-2:nth-child(even) {
  background-color: #eeedd3; /* cream */
  /*background-color: #b5915f;*/ /* beige */
}

.move {
  /*background-color: red !important;*/ 
  background-image: url("../images/move.png"), url("../images/move.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
}

.capture {
  /*background-color: red !important;*/ 
  background-image: url("../images/capture.png"), url("../images/capture.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.king-attacked {
  /*background-color: blue !important;*/ 
  background-image: url("../images/king-attacked.png"), url("../images/king-attacked.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.rank-numbers,
.file-letters {
  font-size: 0.6em;
  font-weight: bold;
  color: white;
  position: absolute;
}

.rank-numbers {
  top: 0;
  left: 100%;
}

.file-letters {
  top: 100%;
  left: 1%;

}

.move:hover {
  cursor: grab !important;
}

.castling {
  /*background-color: green !important;*/ 
  background-image: url("../images/castling.png"), url("../images/castling.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.castling:hover {
  cursor: grab !important;
}

.piece {
  width: 100%;
  height: 100%;
  position: absolute;
}

.piece:hover {
    cursor: grab;
} 

.table-wrapper {
  max-height: 400px;
  width: 100%;
  overflow: auto;
  display:inline-block;
}

.move-history:hover {
  cursor: grab;
}

.information {
   margin-right: 5%;
}

.game-information {
  background-color: #cdcdcd;
  padding: 5px;
}

.game-information span {
   font-size: 1.2rem;
}

.puzzle-information {
  display: block;
}

.history-index {
  background-color: red !important;
}

/* Reverses the striped table colors */
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #dfdfdf;
}

.table-striped > tbody > tr:nth-child(2n+2) > td, .table-striped > tbody > tr:nth-child(2n+2) > th {
  background-color: #6e6e6e;
  color: white;
}
